.new-Collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.0rem;
    margin-bottom: 10.0rem;

}
.new-Collections h1{
    color: #171717;
    font-size: 4.0rem;
    font-weight: 600;
}
.new-Collections hr{
    width: 15.0rem;
    height: 6px;
    border-radius: 1rem;
    background: #252525;

}
.collections{
    display: grid;
    gap: 3.0rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5.0rem;
}
@media(max-width:46.875em) {
    .collections{
    display: grid;
    gap: 4.0rem;
    grid-template-columns: 1fr 1fr 1fr;   
}  
}
@media(max-width:40.625em) {
    .collections{
    display: grid;
    gap: 8.0rem;
    grid-template-columns: 1fr  1fr;    
}
.new-Collections h1{
    font-size: 3.0rem;
}
.new-Collections hr{
    height: 5px;
}
}