.item{
    width: 25rem;
    
}
.item p{
    margin: 6px 0;
    font-size: 1.5rem;

}
.item img{
    width: 20.0rem;
    box-shadow: 0 1px 3px rgba(0, 0,0, 0.12), 0 1px 2px rgba(0, 0,0, 0.24);
}
.item-prices{
    display: flex;
    
    gap: 1.0rem;
}
.item-price-new{
    color: #374151;
    font-size: 1.8rem;
    font-weight: 600;
}
.item-price-old{
    color: #eb1111;
    font-size: 1.8rem;
    font-weight:500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.item button{
    padding: 1.2rem 2rem;
    width: 15.0rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    color: white;
    background: black;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-left:3rem;
    margin-bottom: 3rem;
}
@media (max-width:64.375em) {
    .item{
    width: 20rem;
}

.item img{
    width: 18rem;
   
}
    
}
@media(max-width:43.75em){
    
  .item{
    width: 18rem;
    
}
.item p{
    margin: 6px 0;
    font-size: 1.5rem;

}
.item img{
    width: 15.0rem;
    
}
}